@{
  Layout = "_Layout";
}

@using PackerTracker.Models;

<h1>Items</h1>

<ul>

@foreach (Item item in Model)
{
  <li>@Html.ActionLink($"{item.Name}", "Details", new {id =items.ItemId})</li>
}
<p>@Html.ActionLink("Add new item", "Create")</p>